<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kathmandu Kitchen</title>

    <link rel="stylesheet" type="text/css" href="{% url 'css/admin.css' %}">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700|Sacramento" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% url 'js/admin.js' %}"></script>
</head>

<body>
    {% if $form %}

    <main id="{{ $id }}" class="form">
    <form method="post" enctype="multipart/form-data">
        <header>
            <h2>{{ $title }}</h2>
        </header>
        <div class="content">
            {{ $form->generate() }}
        </div>
        <div class="action-buttons">
            {% if $obj %}
            <input type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure you want to delete this item?');">
            {% endif %}
            <input type="submit" value="Save">
        </div>
    </form>
    </main>

    {% else %}

    <aside>
        <header>
        </header>
        <div class="content">
            {% foreach $models as $model %}
            <a class="model" data-target="#{{ $model['id'] }}">{{ $model['title'] }}</a>
            {% endfor %}
        </div>
    </aside>
    <main>
    {% foreach $models as $model %}
    <section id="{{ $model['id'] }}" hidden>
        <header>
            <h3>{{ $model['title'] }}</h3>
            <div class="action-buttons">
                <a href="{% url '{{ $model['url'] }}' %}"> <span class = "fa fa-plus"></span>ADD NEW</a>
            </div>
        </header>
        <div class="content">
            {% foreach $model['items'] as $item %}
            <a class="item" href="{% url '{{ $model['url'] }}' %}/{{ $item->id }}">
                <br>
                {% if $item->title %}{{ $item->title }}{% elseif $item->default_name %}{{ $item->default_name }}{% else %}{{ $item->name }}{% endif %}
                {% if $item->tag %}({{ $item->tag }}){% endif %}
            </a>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
    </main>
    {% endif %}
</body>
</html>
