@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400; }

a, a:visited {
  text-decoration: none;
  outline: none;
  cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px; }

body #opening-hours-and-contact-us {
  min-height: 100vh;
  display: flex; }
  body #opening-hours-and-contact-us #opening-hours {
    flex-basis: 30%;
    background-color: #f0f0f0; }
    body #opening-hours-and-contact-us #opening-hours > header {
      height: 288px;
      display: flex;
      align-items: center;
      justify-content: center; }
      body #opening-hours-and-contact-us #opening-hours > header h2 {
        font-family: "Sacramento", sans-serif;
        font-size: 3em; }
    body #opening-hours-and-contact-us #opening-hours .content #opening-hour-list .opening-hour {
      min-height: 72px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.11em; }
      body #opening-hours-and-contact-us #opening-hours .content #opening-hour-list .opening-hour > * {
        flex-basis: 25%;
        text-align: center; }
      body #opening-hours-and-contact-us #opening-hours .content #opening-hour-list .opening-hour:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05); }
  body #opening-hours-and-contact-us #contact-us {
    background-color: #fafafa;
    flex-basis: 70%; }
    body #opening-hours-and-contact-us #contact-us > header {
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: center; }
      body #opening-hours-and-contact-us #contact-us > header h2 {
        font-family: "Sacramento", sans-serif;
        font-size: 3em; }
    body #opening-hours-and-contact-us #contact-us .content {
      height: calc(100% - 96px);
      display: flex;
      flex-wrap: wrap;
      font-size: 1.2em; }
      body #opening-hours-and-contact-us #contact-us .content #contact-info {
        height: 40%;
        flex-basis: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center; }
        body #opening-hours-and-contact-us #contact-us .content #contact-info > * {
          flex-basis: 100%; }
        body #opening-hours-and-contact-us #contact-us .content #contact-info .name {
          font-size: 1.5em;
          color: #e08226;
          padding: 0 32px; }
        body #opening-hours-and-contact-us #contact-us .content #contact-info .info {
          height: 48px;
          display: flex;
          align-items: center;
          padding: 0 32px; }
          body #opening-hours-and-contact-us #contact-us .content #contact-info .info .fa {
            width: 32px; }
        body #opening-hours-and-contact-us #contact-us .content #contact-info .extra {
          padding: 16px 0;
          color: rgba(0, 0, 0, 0.5);
          font-weight: 700; }
      body #opening-hours-and-contact-us #contact-us .content #find-us {
        flex-basis: 40%; }
        body #opening-hours-and-contact-us #contact-us .content #find-us .title {
          height: 56px;
          display: flex;
          align-items: center; }
        body #opening-hours-and-contact-us #contact-us .content #find-us .find-us-on {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 64px;
          height: 64px;
          border: 2px solid rgba(0, 0, 0, 0.05);
          font-size: 1.5em;
          color: rgba(0, 0, 0, 0.5);
          cursor: pointer; }
          body #opening-hours-and-contact-us #contact-us .content #find-us .find-us-on:hover {
            color: #e08226; }
      body #opening-hours-and-contact-us #contact-us .content #location-map {
        flex-basis: 100%;
        height: 60%;
        background-color: rgba(0, 0, 0, 0.1); }
        body #opening-hours-and-contact-us #contact-us .content #location-map iframe {
          width: 100%;
          height: 100%; }
  @media screen and (max-width: 1080px) {
    body #opening-hours-and-contact-us #opening-hours {
      flex-basis: 45%; }
      body #opening-hours-and-contact-us #opening-hours .content #opening-hour-list .opening-hour > * {
        font-size: 0.9em; }
    body #opening-hours-and-contact-us #contact-us {
      flex-basis: 55%; } }
  @media screen and (max-width: 720px) {
    body #opening-hours-and-contact-us {
      flex-wrap: wrap; }
      body #opening-hours-and-contact-us #opening-hours {
        flex-basis: 100%; }
        body #opening-hours-and-contact-us #opening-hours > header {
          height: 96px; }
        body #opening-hours-and-contact-us #opening-hours .content #opening-hour-list .opening-hour > * {
          font-size: 1em; }
      body #opening-hours-and-contact-us #contact-us {
        min-height: 100vh;
        flex-basis: 100%; }
        body #opening-hours-and-contact-us #contact-us .content {
          height: auto;
          font-size: 1.1em; }
          body #opening-hours-and-contact-us #contact-us .content #contact-info {
            height: 40%;
            flex-basis: 100%; }
            body #opening-hours-and-contact-us #contact-us .content #contact-info .name {
              font-size: 1.2em; }
            body #opening-hours-and-contact-us #contact-us .content #contact-info .extra {
              padding: 0; }
          body #opening-hours-and-contact-us #contact-us .content #find-us {
            flex-basis: 100%;
            margin-left: 32px;
            margin-bottom: 16px; }
          body #opening-hours-and-contact-us #contact-us .content #location-map {
            height: 50vh; } }

#reservation-section {
  background-color: #ddd;
  background-image: url("../img/menu-bg.jpg");
  background-blend-mode: soft-light;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; }
  #reservation-section #rm_reservation {
    height: 100%; }
    #reservation-section #rm_reservation .rm_header {
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3em;
      font-family: 'Sacramento', sans-serif;
      text-transform: capitalize; }
    #reservation-section #rm_reservation .rm_reservation_body {
      max-width: 480px;
      padding: 0 0 16px 0; }
    #reservation-section #rm_reservation .rm_restaurant_name, #reservation-section #rm_reservation .rm_restaurant_city {
      display: none; }
    #reservation-section #rm_reservation .rm_box_row {
      position: relative;
      margin-bottom: 24px; }
      #reservation-section #rm_reservation .rm_box_row .rm_row_title {
        color: rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        font-weight: 700; }
      #reservation-section #rm_reservation .rm_box_row input, #reservation-section #rm_reservation .rm_box_row select {
        color: #414141;
        font-size: 1.33em;
        background-color: transparent;
        width: 100%;
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        outline: none; }
      #reservation-section #rm_reservation .rm_box_row .jcalendar {
        z-index: 1;
        background-color: #fff;
        position: absolute;
        top: 24px;
        left: 0;
        border-radius: 3px;
        box-shadow: 0 3px 25px -5px rgba(0, 0, 0, 0.5); }
        #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar {
          width: auto !important; }
          #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr#jcalendar-links {
            background-color: #e08226;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.33em;
            font-weight: 700;
            height: 48px; }
          #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr#jcalendar-links td {
            color: #fff;
            border: none; }
            #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr#jcalendar-links td#month {
              width: auto; }
          #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr#jcalendar-links a {
            display: block;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            text-decoration: none; }
            #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr#jcalendar-links a.left {
              background-image: url("http://www.seatme.nl/images/calender/month_left.png"); }
            #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr#jcalendar-links a.right {
              background-image: url("http://www.seatme.nl/images/calender/month_right.png"); }
          #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr#days td {
            color: #e08226;
            font-weight: bold;
            text-transform: uppercase; }
          #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr td.inactive {
            color: rgba(0, 0, 0, 0.3); }
          #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr td.active {
            cursor: pointer; }
            #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr td.active a {
              font-weight: bold;
              text-decoration: none;
              color: #e08226; }
            #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr td.active:hover {
              background-color: rgba(0, 0, 0, 0.05); }
          #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr td.selected {
            border: 2px solid #e08226; }
            #reservation-section #rm_reservation .rm_box_row .jcalendar #calendar tr td.selected a {
              color: #e08226;
              text-decoration: none; }
        #reservation-section #rm_reservation .rm_box_row .jcalendar table td {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          margin: 3px;
          display: inline-flex;
          align-items: center;
          justify-content: center; }
          #reservation-section #rm_reservation .rm_box_row .jcalendar table td a {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            width: 100%;
            height: 100%; }
    #reservation-section #rm_reservation #rm_submit_wrapper input {
      display: inline-block;
      padding: 4px 16px;
      border: 2px solid rgba(0, 0, 0, 0.3);
      background-color: transparent;
      color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      cursor: pointer;
      outline: none;
      border-radius: 3px;
      font-size: 1.33em; }
      #reservation-section #rm_reservation #rm_submit_wrapper input:hover {
        color: #e08226;
        border-color: #e08226; }
    #reservation-section #rm_reservation #rm_logo_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px; }
      #reservation-section #rm_reservation #rm_logo_wrapper a.rm_logo {
        background: url(https://www.seatme.nl/images/srm/seatme-logo.png);
        width: 97px;
        height: 26px;
        margin-left: 6px; }
      #reservation-section #rm_reservation #rm_logo_wrapper span {
        color: rgba(0, 0, 0, 0.3);
        font-weight: 700; }
  #reservation-section #reservation-form-wrapper {
    flex-basis: 40%;
    align-self: center; }
    #reservation-section #reservation-form-wrapper header {
      min-height: 96px;
      display: flex;
      align-items: center;
      justify-content: center; }
      #reservation-section #reservation-form-wrapper header h3 {
        font-size: 3em;
        font-family: 'Sacramento', sans-serif;
        text-align: center; }
    #reservation-section #reservation-form-wrapper .content {
      padding: 32px;
      font-size: 1.33em; }
      #reservation-section #reservation-form-wrapper .content .input-container {
        padding: 10px; }
        #reservation-section #reservation-form-wrapper .content .input-container > label {
          display: block;
          color: rgba(0, 0, 0, 0.8); }
        #reservation-section #reservation-form-wrapper .content .input-container textarea, #reservation-section #reservation-form-wrapper .content .input-container input {
          font-size: inherit;
          width: 100%;
          background-color: transparent;
          outline: none;
          border: none;
          border-bottom: 2px solid rgba(0, 0, 0, 0.3);
          color: rgba(0, 0, 0, 0.5); }
          #reservation-section #reservation-form-wrapper .content .input-container textarea:focus, #reservation-section #reservation-form-wrapper .content .input-container input:focus {
            color: rgba(0, 0, 0, 0.9);
            border-bottom-color: #e08226; }
        #reservation-section #reservation-form-wrapper .content .input-container textarea {
          height: 96px; }
      #reservation-section #reservation-form-wrapper .content .action-buttons {
        text-align: center;
        margin-top: 32px;
        padding: 10px; }
        #reservation-section #reservation-form-wrapper .content .action-buttons button {
          background-color: transparent;
          border: transparent;
          outline: none;
          color: rgba(0, 0, 0, 0.5);
          cursor: pointer;
          text-transform: uppercase;
          font-size: 1em;
          padding: 6px 48px;
          border: 2px solid rgba(0, 0, 0, 0.1);
          border-radius: 3px; }
          #reservation-section #reservation-form-wrapper .content .action-buttons button:hover {
            color: #fff;
            background-color: #e08226; }
  @media screen and (max-width: 720px) {
    #reservation-section #reservation-form-wrapper {
      flex-basis: 100%; }
      #reservation-section #reservation-form-wrapper header h3 {
        font-size: 3em; }
      #reservation-section #reservation-form-wrapper .content {
        padding-top: 8px;
        padding-bottom: 8px; } }
  @media screen and (max-width: 320px) {
    #reservation-section #reservation-form-wrapper .content .input-row {
      flex-wrap: wrap; }
      #reservation-section #reservation-form-wrapper .content .input-row .input-container {
        padding: 2px 10px;
        flex-basis: 100%; }
    #reservation-section #reservation-form-wrapper .content .action-buttons {
      margin-top: 16px;
      padding: 4px; }
      #reservation-section #reservation-form-wrapper .content .action-buttons button {
        font-size: 0.8em;
        padding: 0 36px; } }

#modal-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1111;
  background-color: rgba(0, 0, 0, 0.5); }
  #modal-container .modal {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff; }
    #modal-container .modal > header {
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 32px; }
      #modal-container .modal > header h2 {
        display: inline-block;
        flex-basis: 60%; }
      #modal-container .modal > header button {
        background-color: transparent;
        border: none;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        border-radius: 50%;
        font-size: 2em; }
        #modal-container .modal > header button:hover {
          background-color: rgba(0, 0, 0, 0.1); }
      #modal-container .modal > header .search-input-container {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
        #modal-container .modal > header .search-input-container i {
          font-size: 1.3em;
          margin-right: 6px;
          display: inline-block; }
        #modal-container .modal > header .search-input-container input {
          font-size: 1.3em;
          border: none;
          outline: none;
          background-color: transparent; }
    #modal-container .modal .content {
      height: calc(100% - 72px);
      overflow-y: auto; }
    #modal-container .modal#hamburger-modal h2 {
      font-family: "Sacramento", sans-serif;
      font-size: 3em; }
    #modal-container .modal#hamburger-modal .content {
      margin-top: 24px;
      display: flex;
      align-items: flex-start;
      justify-content: center; }
      #modal-container .modal#hamburger-modal .content #main-menu-modal {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center; }
        #modal-container .modal#hamburger-modal .content #main-menu-modal .menu-item {
          text-transform: uppercase;
          cursor: pointer;
          padding: 6px 16px;
          font-weight: 700;
          font-size: 1.3em;
          color: rgba(255, 255, 255, 0.7);
          margin: 16px 10px;
          border: 2px solid transparent;
          transition: 0.2s all ease-in-out;
          letter-spacing: 0.1em;
          color: #e08226; }
    #modal-container .modal#config-modal {
      left: 50%;
      top: 50%;
      width: 512px;
      height: 300px;
      transform: translate(-50%, -50%);
      box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.9); }
      #modal-container .modal#config-modal .content {
        padding: 32px; }
        #modal-container .modal#config-modal .content #location-select-modal {
          height: 100%; }
          #modal-container .modal#config-modal .content #location-select-modal a {
            cursor: pointer;
            height: 56px;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.33em;
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-weight: 700;
            color: rgba(0, 0, 0, 0.6);
            border-radius: 5px; }
            #modal-container .modal#config-modal .content #location-select-modal a input {
              display: none; }
            #modal-container .modal#config-modal .content #location-select-modal a:hover {
              background-color: rgba(0, 0, 0, 0.05); }
            #modal-container .modal#config-modal .content #location-select-modal a.active {
              background-color: #e08226;
              color: #fff; }
      @media screen and (max-width: 720px) {
        #modal-container .modal#config-modal {
          width: 100%;
          left: 0;
          transform: translate(0, -50%); } }
    #modal-container .modal#our-menu-modal {
      background-color: #ddd;
      background-image: url("../img/menu-bg.jpg");
      background-blend-mode: soft-light;
      background-size: cover;
      background-position: center center; }
      #modal-container .modal#our-menu-modal header h2 {
        font-family: "Sacramento", sans-serif;
        font-size: 3em; }
      #modal-container .modal#our-menu-modal .no-img {
        background: #f2994a;
        background: linear-gradient(to bottom, #f2994a, #f2c94c); }
      #modal-container .modal#our-menu-modal > .content {
        display: flex; }
        #modal-container .modal#our-menu-modal > .content .selected-category-wrapper {
          display: none;
          width: 100%; }
          #modal-container .modal#our-menu-modal > .content .selected-category-wrapper .selected-category {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px 32px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            cursor: pointer;
            background-color: #e08226;
            color: #fff; }
            #modal-container .modal#our-menu-modal > .content .selected-category-wrapper .selected-category i {
              transition: 200ms all ease-in-out; }
          #modal-container .modal#our-menu-modal > .content .selected-category-wrapper.open i {
            transform: rotate(180deg); }
        #modal-container .modal#our-menu-modal > .content .category-list {
          flex-basis: 320px;
          flex-grow: 0;
          flex-shrink: 0;
          padding: 10px;
          z-index: 1;
          display: block; }
          #modal-container .modal#our-menu-modal > .content .category-list a {
            display: block;
            width: 100%;
            padding: 10px 32px;
            text-transform: uppercase;
            cursor: pointer; }
            #modal-container .modal#our-menu-modal > .content .category-list a:hover {
              background-color: rgba(0, 0, 0, 0.06); }
            #modal-container .modal#our-menu-modal > .content .category-list a.active {
              background-color: #e08226;
              color: #fff; }
        #modal-container .modal#our-menu-modal > .content .item-list {
          height: calc(100vh - 96px);
          overflow-y: auto; }
          #modal-container .modal#our-menu-modal > .content .item-list .menu-items {
            flex-basis: calc(100% - 320px);
            display: flex;
            flex-wrap: wrap; }
            #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item {
              width: 300px;
              margin: 10px;
              box-shadow: 0 3px 25px -5px rgba(0, 0, 0, 0.5);
              background-color: #fff; }
              #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item img {
                width: 100%;
                flex-basis: 100%;
                height: 200px;
                object-fit: cover;
                object-position: center center; }
              #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item .menu-item-details .menu-item-details-header {
                display: flex;
                align-items: center; }
                #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item .menu-item-details .menu-item-details-header .title {
                  flex-basis: 70%;
                  padding: 4px 10px;
                  color: #b9691a; }
                #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item .menu-item-details .menu-item-details-header .price {
                  flex-basis: 30%;
                  padding: 4px 10px;
                  text-align: right; }
                  #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item .menu-item-details .menu-item-details-header .price:before {
                    content: '€';
                    margin-right: 4px; }
              #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item .menu-item-details .description {
                padding: 10px;
                color: rgba(0, 0, 0, 0.6); }
  @media screen and (max-width: 720px) {
    #modal-container .modal > header {
      height: 96px;
      flex-wrap: wrap;
      padding: 0 16px 0 32px; }
      #modal-container .modal > header h2 {
        order: 1; }
      #modal-container .modal > header button {
        order: 2;
        flex-basis: 48px;
        flex-grow: 0;
        flex-shrink: 0; }
      #modal-container .modal > header .search-input-container {
        order: 3;
        display: inline-block;
        flex-basis: calc(100% - 16px); }
    #modal-container .modal#our-menu-modal header h2 {
      margin-top: 6px; }
    #modal-container .modal#our-menu-modal > .content {
      flex-wrap: wrap;
      align-content: flex-start;
      display: block; }
      #modal-container .modal#our-menu-modal > .content .selected-category-wrapper {
        flex-basis: 100%;
        display: block; }
      #modal-container .modal#our-menu-modal > .content .category-list {
        display: none;
        align-self: flex-start;
        flex-basis: 100%;
        margin: 0;
        position: absolute;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 3px 25px -5px rgba(0, 0, 0, 0.5);
        padding: 10px 0; }
      #modal-container .modal#our-menu-modal > .content .item-list {
        flex-basis: 100%;
        height: calc(100% - 96px);
        overflow-y: auto; }
        #modal-container .modal#our-menu-modal > .content .item-list .menu-items {
          justify-content: center;
          padding: 16px; }
          #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item {
            max-width: 420px;
            display: flex;
            width: 100%;
            margin: 6px; }
            #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item img {
              width: 30%;
              flex-basis: 30%;
              max-height: 120px; }
            #modal-container .modal#our-menu-modal > .content .item-list .menu-items .menu-item .menu-item-details {
              flex-basis: 70%; } }

html {
  overflow: hidden; }

.ghost {
  visibility: hidden; }

body {
  position: relative; }
  body * {
    backface-visibility: hidden; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    margin: 0; }
  body > #landing {
    color: #fff;
    background-color: transparent;
    flex-wrap: wrap; }
    body > #landing > header {
      height: 200px;
      padding: 0 24px;
      display: -wekit-flex;
      display: flex;
      -wekit-align-items: flex-start;
      align-items: flex-start;
      justify-content: flex-end; }
      body > #landing > header #main-menu {
        height: 96px;
        display: -wekit-flex;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        body > #landing > header #main-menu .menu-item {
          text-transform: uppercase;
          cursor: pointer;
          padding: 6px 16px;
          font-weight: 700;
          color: rgba(255, 255, 255, 0.9);
          margin: 0 10px;
          border: 2px solid transparent;
          background-color: rgba(0, 0, 0, 0.2);
          transition: 0.2s all ease-in-out;
          letter-spacing: 0.1em; }
          body > #landing > header #main-menu .menu-item:hover {
            background-color: #e08226; }
        body > #landing > header #main-menu .hamburger-item {
          display: none; }
    body > #landing > .content {
      height: 70vh;
      height: -webkit-calc(100vh - 200px - 240px);
      height: calc(100vh - 200px - 240px);
      display: -wekit-flex;
      display: flex;
      flex-wrap: wrap; }
      body > #landing > .content #promo {
        display: -wekit-flex;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 32px;
        flex-basis: 100%; }
        body > #landing > .content #promo h1 {
          font-family: 'Sacramento', sans-serif;
          text-align: center;
          font-size: 8em;
          margin-bottom: 0; }
        body > #landing > .content #promo p {
          font-size: 2em;
          letter-spacing: 0.1em;
          margin-top: 0;
          font-weight: 700;
          color: rgba(255, 255, 255, 0.5); }
      body > #landing > .content #location-select-wrap {
        flex-basis: 100%;
        padding: 0 32px;
        display: -wekit-flex;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        align-content: flex-end;
        flex-wrap: wrap; }
        body > #landing > .content #location-select-wrap hr {
          display: none;
          flex-basis: 100%;
          margin: 16px;
          border: 2px solid rgba(255, 255, 255, 0.1); }
        body > #landing > .content #location-select-wrap p {
          flex-basis: 100%;
          font-size: 2em;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 32px; }
        body > #landing > .content #location-select-wrap button {
          background-color: transparent;
          border: 2px solid rgba(255, 255, 255, 0.3);
          color: #fff;
          font-size: 1.33em;
          padding: 10px 16px;
          text-transform: uppercase;
          outline: none;
          margin: 0 16px 0 0;
          cursor: pointer; }
          body > #landing > .content #location-select-wrap button:hover {
            border-color: #e08226;
            color: #e08226; }
    body > #landing #navigator {
      height: 240px;
      display: -wekit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      body > #landing #navigator #navigate-down-btn {
        height: 96px;
        width: 96px;
        color: rgba(255, 255, 255, 0.3);
        font-size: 6em;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s color ease-in-out;
        margin: 0;
        animation: jumpy 1.6s ease-in-out infinite; }
        body > #landing #navigator #navigate-down-btn:hover {
          color: white; }
@keyframes pump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes jumpy {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(16px); }
  100% {
    transform: translateY(0); } }
    body > #landing #config-buttons {
      position: absolute;
      display: -wekit-flex;
      display: flex;
      right: 0;
      top: calc(100vh - 144px); }
      body > #landing #config-buttons .change-config {
        height: 144px;
        width: 144px;
        background-color: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.6);
        display: -wekit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;
        z-index: 1000; }
        body > #landing #config-buttons .change-config .current {
          font-size: 3em;
          flex-basis: 100%; }
        body > #landing #config-buttons .change-config .next a {
          color: #e08226;
          outline: none; }
      body > #landing #config-buttons button {
        display: none;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        border: none; }
        body > #landing #config-buttons button:hover {
          background-color: rgba(255, 255, 255, 0.3); }
      @media screen and (max-width: 720px) {
        body > #landing #config-buttons {
          width: 100vw;
          top: calc(100vh - 96px);
          justify-content: space-between; }
          body > #landing #config-buttons .change-config {
            height: 96px;
            width: 120px; }
            body > #landing #config-buttons .change-config .current {
              font-size: 1.5em; } }
    @media screen and (max-width: 1280px) {
      body > #landing > header #logo-container img {
        height: 180px;
        width: auto; }
      body > #landing #main-menu .menu-item {
        font-size: 0.85em;
        margin: 0 6px; }
      body > #landing .content #promo {
        flex-basis: 100%; }
        body > #landing .content #promo h1 {
          font-size: 7em;
          line-height: 1; }
        body > #landing .content #promo p {
          font-size: 2em; }
      body > #landing .content #reservation-form-wrapper {
        flex-basis: 50%; }
        body > #landing .content #reservation-form-wrapper label {
          font-size: 0.8em; } }
    @media screen and (max-width: 1140px) {
      body > #landing > header #logo-container img {
        height: 160px;
        width: auto; }
      body > #landing #main-menu .menu-item {
        font-size: 0.8em;
        margin: 0 4px; }
      body > #landing .content #promo h1 {
        font-size: 6em; }
      body > #landing .content #promo p {
        font-size: 1.8em; }
      body > #landing .content #reservation-form-wrapper {
        flex-basis: 60%; }
        body > #landing .content #reservation-form-wrapper label {
          font-size: 0.7em; } }
    @media screen and (max-width: 720px) {
      body > #landing {
        height: auto;
        min-height: 100vh; }
        body > #landing .cooking {
          height: 102vh; }
        body > #landing > header {
          height: 120px;
          margin-bottom: 24px;
          width: 100vw;
          justify-content: flex-end; }
          body > #landing > header #logo-container {
            height: 100%;
            display: -wekit-flex;
            display: flex;
            align-items: center; }
            body > #landing > header #logo-container img {
              height: 96px;
              width: auto; }
        body > #landing #main-menu .menu-item {
          display: none; }
        body > #landing #main-menu .hamburger-item {
          display: block !important;
          font-size: 2.5em;
          cursor: pointer; }
        body > #landing > .content {
          height: auto;
          display: block;
          flex-direction: column;
          justify-content: space-around; }
          body > #landing > .content #promo h1 {
            font-size: 4.5em; }
          body > #landing > .content #promo p {
            text-align: center;
            font-size: 1.5em; }
          body > #landing > .content #location-select-wrap {
            justify-content: center;
            align-items: center;
            align-content: center; }
            body > #landing > .content #location-select-wrap hr {
              display: block; }
            body > #landing > .content #location-select-wrap button {
              margin: 4px; }
            body > #landing > .content #location-select-wrap p {
              color: #fff;
              text-shadow: 2px 2px 3px #000;
              text-align: center;
              font-size: 1.8em; }
            body > #landing > .content #location-select-wrap.ghost {
              display: none; }
        body > #landing #navigator {
          height: 120px;
          align-items: flex-end;
          margin-top: 48px; }
          body > #landing #navigator #navigate-down-btn {
            height: 96px;
            font-size: 5em; } }
    @media screen and (max-width: 320px) {
      body > #landing .cooking {
        height: 102vh; }
      body > #landing > header {
        height: 64px;
        margin-bottom: 0; }
        body > #landing > header #logo-container {
          height: 100%;
          display: -wekit-flex;
          display: flex;
          align-items: center; }
          body > #landing > header #logo-container img {
            height: 64px;
            width: auto; }
      body > #landing > .content {
        height: auto; }
        body > #landing > .content #promo h1 {
          font-size: 3em; }
        body > #landing > .content #promo p {
          font-size: 1.2em; }
        body > #landing > .content #location-select-wrap button {
          margin-right: 0;
          font-size: 1em;
          padding: 8px 16px; }
        body > #landing > .content #location-select-wrap p {
          margin-bottom: 4px;
          font-size: 1.6em; }
        body > #landing > .content #location-select-wrap.ghost {
          display: none; }
      body > #landing #navigator {
        height: 64px;
        align-items: flex-start; }
        body > #landing #navigator #navigate-down-btn {
          height: 36px;
          font-size: 36px; } }
  body #our-menu {
    min-height: 100vh;
    background-color: #f5f5f5; }
    body #our-menu > header {
      height: 96px;
      display: -wekit-flex;
      display: flex;
      align-items: center;
      justify-content: center; }
      body #our-menu > header h2 {
        font-family: "Sacramento", sans-serif;
        font-size: 3em; }
    body #our-menu > .content {
      position: relative;
      overflow: hidden;
            /*

            .menu-group {
                margin: 10px;
                width: 360px;
                background-color: #fff;
                box-shadow: 0 3px 25px -7px rgba(0, 0, 0, 0.3);

                >header {
                    height: 300px;
                    flex-wrap: wrap;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                        filter: brightness(50%);
                    }

                    >div {
                        background-color: rgba(255, 255, 255, 0.7);
                        height: 56px;
                        display: -wekit-flex;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 16px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                    }

                    h3 {
                        font-weight: 700;
                        text-transform: uppercase;
                        display: -wekit-flex;
                        display: flex;
                        align-items: center;
                    }

                    button {
                        width: 40px;
                        height: 40px;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        border-radius: 50%;
                        font-size: 1.33em;
                        transition: 0.2s transform ease-in-out;
                        transform: rotate(-90deg);

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.06);
                            cursor: pointer;
                        }
                    }
                }

                >.content {
                    display: none;
                }
            }
            @media screen and (max-width: 720px) {
                .menu-group{

                    >header{
                        height: 180px;
                    }
                }
            }
            */ }
      body #our-menu > .content .buttons {
        z-index: 11;
        background: #e08226;
        border-radius: 35px;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 35px;
        height: 35px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        line-height: 35px;
        text-decoration: none;
        font-size: 22px; }
      body #our-menu > .content .next {
        right: 0;
        left: auto;
        top: 50%; }
      body #our-menu > .content .buttons:hover {
        color: #e08226;
        background: #fff; }
      body #our-menu > .content .viewport {
        min-height: 100vh;
        overflow: hidden;
        position: relative; }
        body #our-menu > .content .viewport .overview {
          list-style: none;
          position: absolute;
          padding: 0;
          margin: 0;
          left: 0;
          top: 0;
          display: flex; }
          body #our-menu > .content .viewport .overview li {
            float: left;
            padding: 1px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            min-height: 100vh; }
      body #our-menu > .content h3 {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center; }
      body #our-menu > .content .menu-items {
        width: 100vw;
        height: calc(100vh - 64px);
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-contents: center;
        justify-content: center; }
        body #our-menu > .content .menu-items .menu-item {
          flex-basis: 320px;
          padding: 10px 24px;
          background-color: #fff;
          margin: 6px; }
          body #our-menu > .content .menu-items .menu-item .menu-item-details-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px; }
            body #our-menu > .content .menu-items .menu-item .menu-item-details-header h4 {
              color: #e08226;
              font-size: 1.33em; }
  body > footer {
    min-height: 30vh;
    background-color: #313131;
    color: rgba(255, 255, 255, 0.5);
    display: -wekit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.33em;
    text-align: center;
    padding: 16px; }

/*# sourceMappingURL=home.css.map */
