body {
    #opening-hours {
        min-height: 100vh;
        $header-height: 96px;
        background-color: #f0f0f0;

        >header {
            height: $header-height;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: $font-family-title;
                font-size: 3em;
            }
        }

    }
}
