@import 'base';

body{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    $header-height: 56px;



    aside {
        flex-basis: 320px;
        height: 100vh;

        >header {
            height: $header-height
        }

        .content {
            height: calc(100% - #{$header-height});
            overflow-y: auto;

            .model {
                display: block;
                width: 100%;
                padding: 10px 24px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }

                &.active {
                    background-color: $primary-color;
                    color: #fff;
                }
            }
        }

    }

    main {
        flex-basis: calc(100% - 320px);
        height: 100vh;
        overflow-y: auto;
        background-color: #f0f0f0;

        >section {
            header {
                height: $header-height;
                padding: 0 32px;
                .action-buttons{
                    a{
                        text-decoration: none;
                        color: #fff;
                        background-color: $primary-color;
                        margin-bottom: 10px;
                        padding: 2px 4px;
                        span{
                            padding: 2px 4px;
                        }
                    }
            }

            }
            .content {
                margin-top: 20px;
                height: calc(100% - #{$header-height});
                overflow-y: auto;
                padding: 0 32px;

                >a{
                    margin-bottom: 20px;
                    color: black;
                    text-decoration: none;

                }
            }
        }


    }

    #language {
        flex-basis: 60%;
        form {
            padding: 10px 20px;

            .content {
                .field {
                    display: flex;
                    padding: 4px 8px;
                    label {
                        flex-basis: 20%;
                        text-align: right;
                        margin-right: 4px;
                    }
                    input {
                        flex-basis: 70%;
                        margin-left: 10px;
                    }

                }
            }
            .action-buttons {
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;
                input {
                    margin-right: 10px;
                   color: #fff;
                   background-color: $primary-color;
                   border: none;
                   cursor: pointer;
                   padding: 4px 8px;

                   &[name="delete"] {
                       background-color: rgba(255,0,0,0.8);
                   }
                }

            }
        }
    }

    // #category {
    //     flex-basis: 60%;
    //     form {
    //         padding: 10px 20px;
    //
    //         .content {
    //             .field {
    //                 display: flex;
    //                 flex-wrap: wrap;
    //                 flex-basis: 100%;
    //                 padding: 4px 8px;
    //
    //                 &:nth-child(odd) {
    //                     background-color: rgba(0, 0, 0, 0.06);
    //                 }
    //
    //                 label {
    //                     font-weight: bold;
    //                     flex-basis: 144px;
    //                 }
    //                 input {
    //                     flex-basis: calc(100% - 144px);
    //                     &[name="remove_image"] {
    //                         color: red;
    //                     }
    //                 }
    //
    //                 .child-container, .children-container {
    //                     flex-basis: 100%;
    //                     padding: 10px;
    //
    //                     .child {
    //                         padding: 10px;
    //                         border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    //                     }
    //
    //                     a {
    //                         color: $primary-color;
    //                         cursor: pointer;
    //                         text-transform: uppercase;
    //                     }
    //                 }
    //             }
    //         }
    //         .action-buttons {
    //             display: flex;
    //             justify-content: flex-end;
    //             margin-top: 10px;
    //             input {
    //                 margin-right: 10px;
    //                color: #fff;
    //                background-color: $primary-color;
    //                border: none;
    //                cursor: pointer;
    //                padding: 4px 8px;
    //
    //                &[name="delete"] {
    //                    background-color: rgba(255,0,0,0.8);
    //                }
    //             }
    //
    //         }
    //     }
    // }
    #food_item, #category {
        flex-basis: 60%;

        form {
            padding: 10px 20px;

            .content {
                .field {
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 100%;
                    padding: 4px 8px;

                    &:nth-child(odd) {
                        background-color: rgba(0, 0, 0, 0.06);
                    }

                    label:not(.remove-input-wrapper) {
                        font-weight: bold;
                        flex-basis: 144px;
                    }

                    label.remove-input-wrapper {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 10px;
                        user-select: none;
                        margin-left: auto;
                    }

                    input {
                        flex-basis: calc(100% - 144px);

                        &[name="remove_image"] {
                            outline: none;
                            margin: 0 6px 0 0;
                            flex-basis: auto;
                            color: red;
                        }
                    }

                    .child-container, .children-container {
                        flex-basis: 100%;
                        padding: 10px;

                        .child {
                            padding: 10px;
                            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                        }

                        a {
                            color: $primary-color;
                            cursor: pointer;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .action-buttons {
                display: flex;
                justify-content: flex-end;
                margin-top: 10px;
                input {
                    margin-right: 10px;
                   color: #fff;
                   background-color: $primary-color;
                   border: none;
                   cursor: pointer;
                   padding: 4px 8px;

                   &[name="delete"] {
                       background-color: rgba(255,0,0,0.8);
                   }
                }

            }
        }
    }
}
