@import 'base';
@import 'opening-hours-and-contact-us';
@import 'reservation-section';
@import 'modal';

html {
    overflow: hidden;
}

.ghost {
    visibility: hidden;
}

body {
    position: relative;

    * {
        backface-visibility: hidden;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }

    >#landing {
        color: #fff;
        background-color: transparent;
        flex-wrap: wrap;
        $menu-height: 96px;
        $header-height: 200px;
        $navigator-height: 240px;

        >header {
            height: $header-height;
            padding: 0 24px;
            display: -wekit-flex;
            display: flex;
            -wekit-align-items: flex-start;
            align-items: flex-start;
            justify-content: flex-end;

            #main-menu {
                height: $menu-height;
                display: -wekit-flex;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .menu-item {
                    text-transform: uppercase;
                    cursor: pointer;
                    padding: 6px 16px;
                    font-weight: 700;
                    color: rgba(255, 255, 255, 0.9);
                    margin: 0 10px;
                    border: 2px solid transparent;
                    background-color: rgba(0, 0, 0, 0.2);
                    transition: 0.2s all ease-in-out;
                    letter-spacing: 0.1em;

                    &:hover {
                        background-color: $primary-color;
                    }
                }
                .hamburger-item{
                    display: none;
                }
            }
        }

        > .content {
            height: 70vh; //fallback
            height: -webkit-calc(100vh - #{$header-height} - #{$navigator-height});
            height: calc(100vh - #{$header-height} - #{$navigator-height});
            display: -wekit-flex;
            display: flex;
            flex-wrap: wrap;

            #promo {
                display: -wekit-flex;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 32px;
                flex-basis: 100%;

                h1 {
                    font-family: 'Sacramento', sans-serif;
                    text-align: center;
                    font-size: 8em;
                    margin-bottom: 0;
                }

                p {
                    font-size: 2em;
                    letter-spacing: 0.1em;
                    margin-top: 0;
                    font-weight: 700;
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            #location-select-wrap {
                flex-basis: 100%;
                padding: 0 32px;
                display: -wekit-flex;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                align-content: flex-end;
                flex-wrap: wrap;

                hr {
                    display: none;
                    flex-basis: 100%;
                    margin: 16px;
                    border: 2px solid rgba(255, 255, 255, 0.1);
                }

                p {
                    flex-basis: 100%;
                    font-size: 2em;
                    color: rgba(255, 255, 255, 0.5);
                    margin-bottom: 32px;
                }

                button {
                    background-color: transparent;
                    border: 2px solid rgba(255, 255, 255, 0.3);
                    color: #fff;
                    font-size: 1.33em;
                    padding: 10px 16px;
                    text-transform: uppercase;
                    outline: none;
                    margin: 0 16px 0 0;
                    cursor: pointer;

                    &:hover {
                        border-color: $primary-color;
                        color: $primary-color;
                    }

                }
            }
        }

        #navigator {
            height: $navigator-height;
            display: -wekit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            #navigate-down-btn {
                height: 96px;
                width: 96px;
                color: rgba(255, 255, 255, 0.3);
                font-size: 6em;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.2s color ease-in-out;
                margin: 0;
                animation: jumpy 1.6s ease-in-out infinite;

                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }

        }
        @keyframes pump {
            0% { transform: scale(1); }
            50% { transform: scale(1.1); }
            100% { transform: scale(1); }
        }
        @keyframes jumpy {
            0% { transform: translateY(0); }
            50% { transform: translateY(16px); }
            100% { transform: translateY(0); }
        }

        #config-buttons {
            position: absolute;
            display: -wekit-flex;
            display: flex;
            right: 0;
            top: calc(100vh - 144px);

            .change-config {
                height: 144px;
                width: 144px;
                background-color: rgba(255, 255, 255, 0.1);
                color: rgba(255, 255, 255, 0.6);
                display: -wekit-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
                align-content: center;
                z-index: 1000;

                .current {
                    font-size: 3em;
                    flex-basis: 100%;
                }

                .next {
                    a {
                        color: $primary-color;
                        outline: none;
                    }
                }

            }

            button {
                display: none;  // removed due to new design
                cursor: pointer;
                outline: none;
                background-color: transparent;
                border: none;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }

            }
            @media screen and (max-width: 720px) {
                width: 100vw;
                top: calc(100vh - 96px);
                justify-content: space-between;

                .change-config {
                    height: 96px;
                    width: 120px;

                    .current {
                        font-size: 1.5em;
                    }
                }
            }
        }
        @media screen and (max-width: 1280px) {
            >header{
                #logo-container{
                    img{
                        height: 180px;
                        width: auto;
                    }
                }
            }
            #main-menu{
                .menu-item{
                    font-size: 0.85em;
                    margin: 0 6px;
                }
            }
            .content{
                #promo{
                    flex-basis: 100%;

                    h1{
                        font-size: 7em;
                        line-height: 1;
                    }
                    p{
                        font-size: 2em;
                    }
                }
                #reservation-form-wrapper{
                    flex-basis: 50%;

                    label{
                        font-size: 0.8em;
                    }
                }
            }
        }
        @media screen and (max-width: 1140px) {
            >header{
                #logo-container{
                    img{
                        height: 160px;
                        width: auto;
                    }
                }
            }
            #main-menu{
                .menu-item{
                    font-size: 0.8em;
                    margin: 0 4px;
                }
            }
            .content{
                #promo{
                    h1{
                        font-size: 6em;
                    }
                    p{
                        font-size: 1.8em;
                    }
                }
                #reservation-form-wrapper{
                    flex-basis: 60%;

                    label{
                        font-size: 0.7em;
                    }
                }
            }
        }
        @media screen and (max-width: 720px) {
            height: auto;
            min-height: 100vh;

            .cooking{
                height: 102vh;
            }
            >header{
                height: 120px;
                margin-bottom: 24px;
                width: 100vw;
                justify-content: flex-end;

                #logo-container{
                    height: 100%;
                    display: -wekit-flex;
                    display: flex;
                    align-items: center;

                    img{
                        height: 96px;
                        width: auto;
                    }
                }
            }
            #main-menu{
                .menu-item{
                    display: none;
                }
                .hamburger-item{
                    display: block!important;
                    font-size: 2.5em;
                    cursor: pointer;
                }
            }
            > .content{
                height: auto;
                display: block;
                flex-direction: column;
                justify-content: space-around;

                #promo{
                    h1{
                        font-size: 4.5em;
                    }
                    p{
                        text-align: center;
                        font-size: 1.5em;
                    }
                }
                #location-select-wrap {
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    hr {
                        display: block;
                    }

                    button {
                        margin: 4px; 
                    }
                    p {
                        color: #fff;
                        text-shadow: 2px 2px 3px #000;
                        //background-color: rgba(0, 0, 0, 0.2);
                        text-align: center;
                        font-size: 1.8em;
                    }
                    &.ghost {
                        display: none;
                    }
                }
            }
            #navigator {
                height: 120px;
                align-items: flex-end;
                margin-top: 48px;

                #navigate-down-btn{
                    height: 96px;
                    font-size: 5em;
                }
            }
        }
        @media screen and (max-width: 320px) {
            .cooking{
                height: 102vh;
            }
            >header{
                height: 64px;
                margin-bottom: 0;

                #logo-container{
                    height: 100%;
                    display: -wekit-flex;
                    display: flex;
                    align-items: center;

                    img{
                        height: 64px;
                        width: auto;
                    }
                }
            }
            > .content {
                height: auto;

                #promo{
                    h1{
                        font-size: 3em;
                    }
                    p{
                        font-size: 1.2em;
                    }
                }
                #location-select-wrap {
                    button {
                        margin-right: 0;
                        font-size: 1em;
                        padding: 8px 16px;
                    }
                    p {
                        margin-bottom: 4px;
                        font-size: 1.6em;
                    }
                    &.ghost {
                        display: none;
                    }
                }
            }
            #navigator {
                height: 64px;
                align-items: flex-start;

                #navigate-down-btn{
                    height: 36px;
                    font-size: 36px;
                }
            }
        }
    }

    #our-menu {
        min-height: 100vh;
        $header-height: 96px;
        background-color: #f5f5f5;

        >header {
            height: $header-height;
            display: -wekit-flex;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: $font-family-title;
                font-size: 3em;
            }
        }

        >.content {
            // display: -wekit-flex;
            // display: flex;
            // justify-content: center;
            // align-items: flex-start;
            // flex-wrap: wrap;
            position: relative;
            overflow: hidden;

            .buttons {
                z-index: 11;
                background: $primary-color;
                border-radius: 35px;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 35px;
                height: 35px;
                color: #fff;
                font-weight: bold;
                text-align: center;
                line-height: 35px;
                text-decoration: none;
                font-size: 22px;
            }

            .next {
                right: 0;
                left: auto;
                top: 50%;
            }

            .buttons:hover {
                color: $primary-color;
                background: #fff;
            } 
             
            .viewport {
                min-height: 100vh;
                overflow: hidden;
                position: relative;
                 
                .overview {
                    list-style: none;
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    left: 0;
                    top: 0;
                    display: flex;
                     
                    li {
                        float: left;
                        padding: 1px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        min-height: 100vh;
                    } 
                } 
            } 

            h3 {
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .menu-items {
                width: 100vw;
                height: calc(100% - 64px);
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                align-contents: center;
                justify-content: center;

                .menu-item {
                    flex-basis: 320px;
                    padding: 10px 24px;
                    background-color: #fff;
                    margin: 6px;

                    .menu-item-details-header {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;

                        h4 {
                            color: $primary-color;
                            font-size: 1.33em;
                        }
                    }
                }
            }
            /*

            .menu-group {
                margin: 10px;
                width: 360px;
                background-color: #fff;
                box-shadow: 0 3px 25px -7px rgba(0, 0, 0, 0.3);

                >header {
                    height: 300px;
                    flex-wrap: wrap;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                        filter: brightness(50%);
                    }

                    >div {
                        background-color: rgba(255, 255, 255, 0.7);
                        height: 56px;
                        display: -wekit-flex;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 16px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                    }

                    h3 {
                        font-weight: 700;
                        text-transform: uppercase;
                        display: -wekit-flex;
                        display: flex;
                        align-items: center;
                    }

                    button {
                        width: 40px;
                        height: 40px;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        border-radius: 50%;
                        font-size: 1.33em;
                        transition: 0.2s transform ease-in-out;
                        transform: rotate(-90deg);

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.06);
                            cursor: pointer;
                        }
                    }
                }

                >.content {
                    display: none;
                }
            }
            @media screen and (max-width: 720px) {
                .menu-group{

                    >header{
                        height: 180px;
                    }
                }
            }
            */
        }
    }

    >footer {
        min-height: 30vh;
        background-color: #313131;
        color: rgba(255, 255, 255, 0.5);
        display: -wekit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.33em;
        text-align: center;
        padding: 16px;
    }
}
