{% extends "mail_templated/base.tpl" %}
{% load i18n %}

{% block subject %}
Reservation {{ reservation.status }} for {{ reservation.date }}
{% endblock %}


{% block body %}
{% if reservation.status == 'accepted' %}{{ reservation.branch.default_accept_message }}{% else %}{{ reservation.branch.default_reject_message }}{% endif %}

{% trans 'Reservation Details' %}
------------------------------

{% trans 'Name' %}: {{ reservation.first_name }} {{ reservation.last_name }}
{% trans 'Date' %}: {{ reservation.date }}
{% trans 'Time' %}: {{ reservation.time }}
{% trans 'Number of Persons' %}: {{ reservation.persons }}
{% trans 'Contact Email' %}: {{ reservation.email }}
{% trans 'Special Request' %}:
{{ reservation.special_request }}

{{ reservation.branch.default_mail_footer }}

{% endblock %}

{% block html %}
<p>
{% if reservation.status == 'accepted' %}
{{ reservation.branch.default_accept_message }}
{% else %}
{{ reservation.branch.default_reject_message }}
{% endif %}
</p>

<h2>Reservation Details</h2>
<div><b>{% trans 'Name' %}:</b> {{ reservation.first_name }} {{ reservation.last_name }}</div>
<div><b>{% trans 'Date' %}:</b> {{ reservation.date }}</div>
<div><b>{% trans 'Time' %}:</b> {{ reservation.time }}</div>
<div><b>{% trans 'Number of Persons' %}:</b> {{ reservation.persons }}</div>
<div><b>{% trans 'Contact Email' %}:</b> {{ reservation.email }}</div>
<div><b>{% trans 'Special Request' %}:</b>
<p><pre>{{ reservation.special_request }}</pre></p>
</div>

<p><pre>
{{ reservation.branch.default_mail_footer }}
</pre><p>
{% endblock %}
