{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kathmandu Kitchen</title>

    <link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700|Sacramento" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cooking.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/home.js' %}"></script>

    <script>
        let branches = [
        {% for branch in branches %}
            { 'code': "{{ branch.code }}", 'name': "{{ branch.name }}" },
        {% endfor %}
        ];
 
        let currentBranchCode = "{{ current_branch.code }}";
    </script>
        
</head>
<body>
    <section id="landing">
        <div class="cooking">
            <div class="wrap">
                <div class="background">
                    <canvas class="background-canvas"></canvas>
                </div>
            </div>
        </div>
        <header>
            <div id="logo-container">
                <img src="{% static 'img/logo.png' %}">
            </div>

            <div id="main-menu">
                <a class="menu-item" id="menu-see-menu">{% trans 'See Menu' %}</a>
                <a class="menu-item" id="menu-opening-hours">{% trans 'Opening hours' %}</a>
                <a class="menu-item" id="menu-make-reservations">{% trans 'Make Reservations' %}</a>
                <a class="menu-item" id="menu-contact-us">{% trans 'Contact us' %}</a>
                <a class="hamburger-item"><i class="ion-navicon"></i></a>
            </div>
        </header>
         
         
        <div class="content">
            <div id="promo">
                <div>
                    <h1>{% blocktrans %}Welcome to <strong>Kathmandu Kitchen</strong>{% endblocktrans %}</h1>
                    <p>{% blocktrans %}The taste you deserve{% endblocktrans %}</p>
                </div>
            </div>
            <div id="reservation-form-wrapper">
                <header>
                    <h3>{% trans 'Make a reservation' %}</h3>
                </header>
                <div class="content">
                    <form method="POST" action={% url 'reserve' current_branch.code %}>
                        {% csrf_token %}
                        <div class="input-row">
                            <div id="date-field" class="input-container">
                                <label>{% trans 'Date' %}:</label>
                                <input type="date" name="date" required>
                            </div>
                            <div id="number-field" class="input-container">
                                <label>{% trans 'Number of person' %}:</label>
                                <input type="number" step="1" name="persons" required>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-container">
                                <label>{% trans 'Time' %}:</label>
                                <input type="time" name="time" required>
                            </div>
                            <div class="input-container">
                                <label>{% trans 'Email' %}:</label>
                                <input type="text" name="email" required>
                            </div>
                        </div>
                        <div class="action-buttons">
                            <button>{% trans 'Submit' %}</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div id="navigator">
            <button id="navigate-down-btn"><i class="ion-ios-arrow-down"></i></button>
            <div id="config-buttons">
                <button class="change-config" onclick="showConfigModal()">
                    <span class="current">{{ current_branch.code }}</span>
                    <span class="next">{% trans 'click to change' %}</span>
                </button>
                <div class="change-config">
                    <span class="current">{{ current_language }}</span>
                    {% language next_language %}
                    <span class="next">{% trans 'change to' %} <a href="?language={{ next_language }}">{{ next_language|language_name_translated }}</a></span>
                    {% endlanguage %}
                </div>
            </div>
        </div>
    </section>

    <section id="our-menu">
        <header>
            <h2>{% trans 'Our Menu' %}</h2>
        </header>
        <div class="content">
            {% for category in categories %}
            <div class="menu-group" data-target="#menu-items-{{ category.name|slugify }}">
                <header>
                    <img {% if category.image %}src="{{ category.image.url }}" {% else %}class="no-img"{% endif %}>
                    <div>
                        <h3>{{ category.name|escape }}</h3>
                        <button class="expand-menu-group-btn"><i class="ion-ios-arrow-down"></i></button>
                    </div>
                </header>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="opening-hours-and-contact-us">
        <div id="opening-hours">
            <header>
                <h2>{% trans 'Opening Hours' %}</h2>
            </header>
            <div class="content">
                <div id="opening-hour-list">
                    {% for openinghour in current_branch.openinghour_set.all %}
                    <div class="opening-hour">
                        <date class="day">{{ openinghour.get_day_display }}</date>
                        <time class="open">{% if openinghour.start_time %}{{ openinghour.start_time }}{% else %}-{% endif %}</time>
                        <time class="close">{% if openinghour.end_time %}{{ openinghour.end_time }}{% else %}-{% endif %}</time>
                        <div class="remark">{{ openinghour.remarks }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="contact-us">
            <header>
                <h2>{% trans 'Contact Us' %}</h2>
            </header>
            <div class="content">
                <div id="contact-info">
                    <div>
                        <div class="name">Kathmandu Kitchen</div>
                        <div class="info">
                            <i class="fa fa-location-arrow"></i>
                            <p>{{ current_branch.address }}</p>
                        </div>
                    </div>
                    <div class="extra">
                        <div class="info">
                            <i class="fa fa-phone"></i>
                            <p>{{ current_branch.contact_number }}</p>
                        </div>
                        <div class="info">
                            <i class="fa fa-envelope"></i>
                            <p>{{ current_branch.admin_email }}</p>
                        </div>
                    </div>
                </div>
                <div id="find-us">
                    <div class="title">{% trans 'Find us on' %}</div>
                    <a href="{{ current_branch.facebook }}" class="find-us-on"><i class="fa fa-facebook"></i></a>
                    <a href="{{ current_branch.twitter }}" class="find-us-on"><i class="fa fa-twitter"></i></a>
                </div>
                <div id="location-map">
                    {{ current_branch.map_tag|safe }}
                </div>
            </div>
        </div>
    </section>
     
    <footer>
    </footer>

    <div id="modal-container">
        <div class="modal" id="hamburger-modal">
            <header>
                <h2>{% trans 'Navigate' %}</h2>
                <button class="btn-close-modal"><i class="ion-ios-close-empty"></i></button>
            </header>
            <div class="content">
                <div id="main-menu-modal">
                    <a class="menu-item">{% trans 'See Menu' %}</a>
                    <a class="menu-item">{% trans 'Opening hours' %}</a>
                    <a class="menu-item">{% trans 'Make Reservations' %}</a>
                    <a class="menu-item">{% trans 'Contact us' %}</a>
                </div>
            </div>
        </div>
         
        <div class="modal" id="config-modal">
            <header>
                <h2>{% trans 'Select location' %}</h2>
                <button class="btn-close-modal"><i class="ion-ios-close-empty"></i></button>
            </header>
            <div class="content">
                <div id="location-select-modal">
                    {% for branch in branches %}
                    {% if current_branch == branch %}
                    <a class="active" onclick="hideConfigModal('{{ branch.code }}')">{{ branch }}</a>
                    {% else %}
                    <a onclick="hideConfigModal('{{branch.code}}')" href="{% url 'home' branch.code %}">{{ branch }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
         
        <div class="modal" id="our-menu-modal">
            <header>
                <h2>{% trans 'Our menu' %}</h2>
                <div class="search-input-container">
                    <i class="ion-ios-search"></i>
                    <input type="search" placeholder="Search">
                </div>
                <button class="btn-close-modal"><i class="ion-ios-close-empty"></i></button>
            </header>
            <div class="content">
                <div class="selected-category-wrapper">
                    <div class="selected-category">
                        <a id="category-name">Tandoori</a>
                        <i class="ion-chevron-down"></i>
                    </div>
                </div>
                <div class="category-list">
                    {% for category in categories %}
                    <a data-target="#menu-items-{{ category.name|slugify }}">{{ category.name|escape }}</a>
                    {% endfor %}
                </div>
                <div class="item-list">
                    {% for category in categories %}
                    <div class="menu-items" id="menu-items-{{ category.name|slugify }}" hidden>
                        {% for fooditem in category.fooditem_set.all %}
                        <div class="menu-item">
                            <img {% if fooditem.image %}src="{{ fooditem.image.url }}" {% else %}class="no-img"{% endif %}>
                            <div class="menu-item-details">
                                <h4 class="title">{{ fooditem.name|escape }}</h4>
                                <span class="price">{{ fooditem.price }}</span>
                                <p class="description">{{ fooditem.description|escape }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- 
    <script src="{% static 'js/cooking.js' %}"></script>
    -->
</body>
</html>
