{% extends "mail_templated/base.tpl" %}

{% block subject %}
Reservation order from {{ reservation.email }}
{% endblock %}


{% block body %}
Reservation Details
------------------------------

Date: {{ reservation.date }}
Time: {{ reservation.time }}
Number of Persons: {{ reservation.persons }}
Contact Email: {{ reservation.email }}

Copy this link to ackowledge:
{{ url }}
{% endblock %}

{% block html %}
<h2>Reservation Details</h2>

<div><b>Date:</b> {{ reservation.date }}</div>
<div><b>Time:</b> {{ reservation.time }}</div>
<div><b>Number of Persons:</b> {{ reservation.persons }}</div>
<div><b>Contact Email:</b> {{ reservation.email }}</div>
<br><br>
<a href= "{{ url }}">Click here to acknowledge</a>
{% endblock %}
