{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kathmandu Kitchen</title>

    <link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700|Sacramento" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/acknowledge.css' %}">
</head>

<body>
    <header>
        <h3>{% trans 'Reservation Details' %}</h3>
    </header>
    <div class="detail name">
        <p class="detail-title">{% trans 'First name' %}</p>
        <p class="detail-info">{{ reservation.first_name }}</p>
    </div>
    <div class="detail name">
        <p class="detail-title">{% trans 'Last name' %}</p>
        <p class="detail-info">{{ reservation.last_name }}</p>
    </div>
    <div class="detail date">
        <p class="detail-title">{% trans 'Reservation date' %}</p>
        <p class="detail-info">{{ reservation.date }}</p>
    </div>
    <div class="detail time">
        <p class="detail-title">{% trans 'Reservation time' %}</p>
        <p class="detail-info">{{ reservation.time }}</p>
    </div>
    <div class="detail no-of-people">
        <p class="detail-title">{% trans 'No of people' %}</p>
        <p class="detail-info">{{ reservation.persons }}</p>
    </div>
    <div class="detail email">
        <p class="detail-title">{% trans 'Reserved by' %}</p>
        <p class="detail-info">{{ reservation.email }}</p>
    </div>
    <div class="detail request">
        <p class="detail-title">{% trans 'Special request' %}</p>
        <pre class="detail-info">{{ reservation.special_request }}</pre>
    </div>
    <p class="info">{% trans "We'll let you know about the reservation by email asap." %}</p>
    <div class="action-container" id="home-container">
        <a class="home" href="{% url 'home' %}">{% trans "Go back to website" %}</a>
    </div>
</body>
