<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>fiber-mvc</title>
    {% include 'common-includes.html' %}
</head>
<body>
    <div id="title-block">
        <div class="container">
            <div class="title">Example Page</div>
            <div class="extra">Fiber is awesome</div>
        </div>
    </div>
    <div id="content-block">
        <div class="container">
            <p>
                This is an example page to demonstrate how things work with Fiber.
                <br>
                {{ $message }}
            </p>
        </div>
    </div>
</body>
</html>
